// Add styles here you want to override
.lease-snapshot img {
    width: 100%;
    margin-right: 5px; }
.last-updated {
    display: inline;
    padding-left: 10px;
    color: #bfc4c9;
}
.dashboard-last-updated {
    display: inline;
    color: #a7a7a7;
}
.logo-img {
    width:100%;
}