/ /!
/   ------------------
/   START - Messages Link in secondary top menu
/   ------------------
/ - position_class = (defined?(is_top_bar) && is_top_bar) ? 'os-dropdown-position-right' : 'os-dropdown-position-left'
/ div[class="messages-notifications os-dropdown-trigger #{position_class}"]
/   i.os-icon.os-icon-mail-14
/   .new-messages-count 1
/   .os-dropdown.light.message-list
/     ul
/       li
/         a href="#"
/           .user-avatar-w
/             img alt="" src="img/avatar1.jpg"
/           .message-content
/             h6.message-from You have new expenses!
/             h6.message-title Would you like to settle them now?
/             a.btn.btn-success.btn-sm.message-buttons href="tables_tenants.html" Yes
/             a.btn.btn-sm.btn-underlined.message-buttons href="apps_full_chat.html" Maybe later
 
/ /!
/   ------------------
/   END - Messages Link in secondary top menu
/   ------------------